<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= link_to 'Wikinimous', articles_path, class: "logo" %>
      <%= link_to "New Article", new_article_path %>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
